<?xml version="1.0"?>
<!--
/**
 * @category   Meetpxny
 * @package    Api53_Api53
 *
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- Settings -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Api53_Api53::config" title="Api53" sortOrder="55" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>